{% extends 'base.html'%}

{% block content%}

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-3 center" style="background-color:lavender;">

            <div class="continer ">
                <h2>Room II manager</h2>
                <div class="btn-group-vertical">
                    <a type="button" class="btn  btn-block" style="background-color:darkcyan"
                        href="{% url 'reservation_new' %}"><span style="color: white;font-size:24px">
                            Create a reservation</span></a>
                    <button type="button" class="btn btn-block btn-primary">Update Hall</button>
                    <button type="button" class="btn btn-primary">View Reservations</button>
                    <button type="button" class="btn btn-primary">Logout</button>
                </div>
            </div>

        </div>

        <div class="col-sm-9" style="background-color:lavenderblush;">

            <div class="container">
                <h2>Recent Reservations</h2>
                <!-- table for reservations  -->

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Start</th>
                            <th>Created By</th>
                            <th>Status</th>
                            <th>Actions</th>

                        </tr>
                    </thead>
                    <tbody id="myTable">
                        {% for res in reservations%}

                        <tr class="tablec " data-href='{% url 'reservation_detail' pk=res.pk %}'>
                            <td>{{res.pk}}</td>
                            <td>{{res.title}}</td>
                            <td>{{res.start_date_time}}</td>
                            <td>{{res.created_by}}</td>
                            <td>{% if res.is_accepted %}
                                Accepted!
                                {%else%}
                                Pending Approval
                                {% endif %}

                            </td>
                            <td>Update| Accept | Completed</td>
                        </tr>
                        {% empty %}
                        <p>No recent entries</p>
                        {%endfor%}


                    </tbody>
                </table>


                <!-- end of reservation table  -->
            </div>
        </div>
    </div>
</div>

{% endblock%}