<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Room Reserved</title>
</head>

<body style="padding-left: 100px">
    <h1>Room reserved!</h1>
    <h3>Room reserved is an opensource project maintained by Symons.
        Its main aim is to help organizations manage conference rooms
        without conflicts.
    </h3>
    <h2><i><a href="{% url 'org_c' %}">Get Demo Account by clicking here</a></i></h2>
    <h5><i>Even though its free.We need money to keep our servers up und
            running and to buy developers coffee. Mind <a href="">donating</a>
        </i></h5>
</body>

</html>