{% extends 'base.html' %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reserve</title>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {{ form.media }}
</head>

<body>
    <br>
    <hr>
    <div class="container">
        <div class="col-md-3">
            <form method="post">{% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                <button type="submit" class="btn btn-primary">Create</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
</body>

{% endblock %}