{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container ">
    <br>
    <h2 style="float: left;margin-right:40px ">My Home Page </h2>
    
     <a href="{% url 'reservation_new'%}"><button type="button" class="btn btn-primary">Book a Boardroom</button></a>
    <br>
    <br>
    <div class="card ">
        <div class="card-body " style="background-color:white;">
            <!-- card body  -->
            <div class="contaner">
                <!-- Nav pills -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#home">Current</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#menu1">Past</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#menu2">All</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content" style="background-color:white;margin-bottom: 20px">
                    <div id="home" class="conainer tab-pane ative">

                        {% for reservation in myreservations %}
                        {% if reservation.is_current%}
                        <br>
                        <div class="card">
                            <div class=" card-body " style="background-color:rgb(249, 255, 251);">
                                <h4 class="card-title " style="color: rgba(87, 87, 88, 0.801);">
                                    {{reservation.title}}
                                    <span><img src="{% static 'images/sphere.png'%}" width="25" alt=""></span>
                                </h4>
                                <p class="card-text" style="color: rgb(37, 36, 43);">
                                    Start: <span style="color: rgb(34, 20, 238);">{{reservation.start_date_time}}</span>
                                    | End:
                                    <span style="color: rgb(34, 20, 238);"> {{reservation.end_date_time}}</span></p>
                                <p style="color: rgb(34, 20, 238);">By:{{reservation.created_by}} |
                                    Hall:{{reservation.hall}}</p>
                                <a href="#" class="card-link">Delete</a>
                                <a href="#" class="card-link">Reschedule</a>
                                <a href="#" class="card-link">Edit</a>
                            </div>
                        </div>
                        <br>
                        {%endif%}
                        {%endfor%}
                        <br>
                    </div>

                    <div id="menu1" class="containr tab-pane fade">

                        {% for reservation in myreservations %}
                        {% if reservation.is_complete %}
                        <br>
                        <div class="card">
                            <div class=" card-body " style="background-color:rgb(249, 255, 251);">
                                <h4 class="card-title " style="color: rgba(87, 87, 88, 0.801);">
                                    {{reservation.title}}
                                    <span><img src="{% static 'images/complete.png'%}" width="25" alt=""></span>
                                </h4>
                                <p class="card-text" style="color: rgb(37, 36, 43);">
                                    Start: <span
                                        style="color: rgb(34, 20, 238);">{{reservation.start_date_time}}</span>|
                                    End:
                                    <span style="color: rgb(34, 20, 238);"> {{reservation.end_date_time}}</span></p>

                                <p style="color: rgb(34, 20, 238);">By:{{reservation.created_by}}|
                                    Hall:{{reservation.hall}}</p>
                                <a href="#" class="card-link">Delete</a>
                            </div>
                        </div>
                        <br>
                        {%endif%}
                        {%endfor%}
                        <br>


                    </div>


                    <div id="menu2" class="continer tab-pane fade">
                        {% for reservation in myreservations %}
                        <br>
                        <div class="card">
                            <div class=" card-body " style="background-color:rgb(249, 255, 251);">
                                <h4 class="card-title " style="color: rgba(87, 87, 88, 0.801);">
                                    {{reservation.title}}
                                    <span><img {% if reservation.is_current %} src="{% static 'images/sphere.png'%}"
                                            {% else %} src="{% static 'images/complete.png' %}" {% endif %} width="25"
                                            alt=""></span>
                                </h4>
                                <p class="card-text" style="color: rgb(37, 36, 43);">
                                    Start: <span
                                        style="color: rgb(34, 20, 238);">{{reservation.start_date_time}}</span>|
                                    End:
                                    <span style="color: rgb(34, 20, 238);"> {{reservation.end_date_time}}</span></p>

                                <p style="color: rgb(34, 20, 238);">By:{{reservation.created_by}}|
                                    Hall:{{reservation.hall}}</p>
                                <a href="#" class="card-link">Delete</a>
                            </div>
                        </div>
                        {%endfor%}
                    </div>

                </div>

            </div>

            <!-- end of card body  -->
        </div>
    </div>
</div>

</div>

{% endblock %}