{% extends "base.html" %}

{% block content %}





<div class="container-fluid  w3-card" style="background-color:lavender;">
    <br>
    <a href=""><button type="button" class="btn btn-primary">Reserve Boardroom</button></a>
 
    <hr>

    <br>
    <!-- to search or filter -->
    <input class="form-control" id="myInput" type="text" placeholder="Search by anything...">
    <br>

    <div class="contaner">


        <!-- Nav pills -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="pill" href="#home">All</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#menu1">Approved</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#menu3">Rejected</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#menu2">Complete</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content" style="background-color:white;margin-bottom: 20px">
            <div id="home" class="conainer tab-pane active">

                <table class="table table-hover">
                    <thead>
                        <tr>
                          
                            <th>Title</th>
                            <th>Start</th>
                            <th>End</th>
                            <th>Created By</th>
                            <th>Status</th>
                         



                        </tr>
                    </thead>
                    <tbody id="myTable">
                        {% for ticket in tickets%}
                        {% if ticket.opener == request.user%}

                        {% if ticket.is_complete%}
                        <tr class="tablec" data-href='{% url 'ticket_detail' pk=ticket.pk %}'>

                            {% elif ticket.is_progress%}
                        <tr class="tablep" data-href='{% url 'ticket_detail' pk=ticket.pk %}'>
                            {%else%}
                        <tr class="tablepe" data-href='{% url 'ticket_detail' pk=ticket.pk %}'>
                            {% endif %}

                            <td>{{ticket.track_number}}</td>
                            <td>{{ticket.ticket_type.type_name}}</td>
                            <td>{{ticket.open_date}}</td>
                            <td>{{ticket.opener.username}}</td>
                            <td>{% if ticket.is_pending %}
                                Pending
                                {%elif ticket.is_progress%}
                                Progress
                                {%else%}
                                Complete
                                {% endif %}

                            </td>
                            <td>{{ticket.closed_date}}</td>
                            <td>{{ticket.closed_by}}</td>

                        </tr>

                        {%endif%}
                        {%endfor%}

                    </tbody>
                </table>

                <br>

            </div>


            <div id="menu1" class="containr tab-pane fade">
                <table class="table table-hover">
                    <thead>
                        <tr>
                             <th>Title</th>
                            <th>Start</th>
                            <th>End</th>
                            <th>Created By</th>
                            <th>Status</th>

                        </tr>
                    </thead>
                    <tbody id="myTable">
                        {% for ticket in tickets%}
                        {% if ticket.opener == request.user%}
                        {% if ticket.is_pending %}
                        <tr class="tablepe" data-href='{% url 'ticket_detail' pk=ticket.pk %}'>
                            <td>{{ticket.track_number}}</td>
                            <td>{{ticket.ticket_type.type_name}}</td>
                            <td>{{ticket.open_date}}</td>
                            <td>{{ticket.opener.username}}</td>
                        </tr>
                        {% endif %}
                        {%endif%}
                        {%endfor%}
                    </tbody>
                </table>
                <br>
            </div>


            <div id="menu2" class="continer tab-pane fade">
                <table class="table table-hover">
                    <thead>
                        <tr>
                             <th>Title</th>
                            <th>Start</th>
                            <th>End</th>
                            <th>Created By</th>
                            <th>Status</th>


                        </tr>
                    </thead>
                    <tbody id="myTable">
                        {% for ticket in tickets%}
                        {% if ticket.opener == request.user%}
                        {% if ticket.is_progress %}
                        <tr class="tablep" data-href='{% url 'ticket_detail' pk=ticket.pk %}'>
                            <td>{{ticket.track_number}}</td>
                            <td>{{ticket.ticket_type.type_name}}</td>
                            <td>{{ticket.open_date}}</td>
                            <td>{{ticket.opener.username}}</td>
                            <td>{{ticket.taken_by.username}}</td>
                        </tr>
                        {%endif%}
                        {% endif %}
                        {%endfor%}
                    </tbody>
                </table>
                <br>
            </div>


            <div id="menu3" class="contaier tab-pane fade">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Start</th>
                            <th>End</th>
                            <th>Created By</th>
                            <th>Status</th>

                        </tr>
                    </thead>
                    <tbody id="myTable">
                        {% for ticket in tickets%}
                        {% if ticket.opener == request.user%}
                        {% if ticket.is_complete %}
                        <tr class="tablec" data-href='{% url 'ticket_detail' pk=ticket.pk %}'>
                            <td>{{ticket.track_number}}</td>
                            <td>{{ticket.ticket_type.type_name}}</td>
                            <td>{{ticket.open_date}}</td>
                            <td>{{ticket.opener.username}}</td>
                            <td>{{ticket.closed_date}}</td>
                            <td>{{ticket.taken_by.username}}</td>
                            <td>{{ticket.closed_by.username}}</td>
                        </tr>
                        {%endif%}
                        {% endif %}
                        {%endfor%}
                    </tbody>
                </table>
                <br>
            </div>

        </div>


    </div>
</div>
<br>
</div>




{% endblock %}